input[type="number"] {
	width: 50px;
}

input[type="checkbox"] {
	position: relative;
	top: 3px;
	margin-right: 10px;
}

.highlights_area_item {
	width: var(--ytd-watch-flexy-sidebar-width) - 2px;
	color: grey;
	border: 1px solid grey;
	overflow-y: auto;
}

.highlight_moment {
	margin-left: 20px;
	margin-bottom: 15px;
	white-space: pre-wrap;
}

.first_highlight {
	margin-top: 20px;
}

.progress_timestamps {
	opacity: 0.5;
}

.timestamp_link {
	display: inline;
	color: blue;
	text-decoration: none;
	font-size: 15px;
}

.highlight_group_text {
	display: inline;
	color: black;
	font-size: 15px;
}

.settings_set_button {
	width: 74px;
	background-color: white;
	padding-left: 0px;
	border: none;
	border-bottom: 1px solid grey;
}

.settings_set_name {
	text-overflow: ellipsis;
	width: 67px;
	margin-top: 1px;
	margin-bottom: 1px;
	cursor: default;
	pointer-events: none;
	
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	background-color: transparent;
}

.settings_group_button {
	width: 74px;
	background-color: white;
	padding-left: 0px;
	border: none;
	border-bottom: 1px solid grey;
}

.settings_group_name {
	text-overflow: ellipsis;
	width: 67px;
	margin-top: 1px;
	margin-bottom: 1px;
	cursor: default;
	pointer-events: none;
	
	border: none;
	background-color: transparent;
}

.currently_selected_settings_button {
	background-color: #dbdbdb;
}

.currently_selected_settings_name {
	cursor: text;
	pointer-events: auto;
}

.currently_selected_settings_name:focus {
	border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: white;
}

.add_item_button {
	position: relative;
	width: 25px;
	height: 25px;
	left: 27px;
	top: 15px;
	font-size: 18px;
	line-height: 23px;
	border: 1px solid black;
	border-radius: 5px;
}

.group_settings_subdiv {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.warning_message {
	position: relative;
	top: 5px;
	text-align: center;
	color: red;
}

#highlights_area {
	margin-bottom: 15px;
}

#highlights_button {
	background-color: white;
	width: var(--ytd-watch-flexy-sidebar-width);
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 10px;
	font-weight: bold;
}

#highlights_menu {
	position: relative;
	background-color: #F9F9F9;
	border-top: 0px;
	height: 300px;
}

#highlights_menu_status_message {
	position: relative;
	font-size: 15px;
	margin-top: 20px;
	padding-bottom: 5px;
	width: 225px;
	text-align: center;
	left: 40px;
	color: black;
}

#settings_button {
	position: sticky;
	float: right;
	background-color: white;
	color: grey;
	font-size: 12px;
	padding: 9px;
	right: 5px;
	top: 5px;
	border-radius: 5px;
	border: 1px solid grey;
}

#settings_menu {
	background-color: #F9F9F9;
	border-top: 0px;
	height: 200px;
}

#set_selection_bar {
	position: relative;
	display: block;
	width: 74px;
	height: 200px;
	float: left;
	background-color: #e6e6e6;
	border-right: 1px solid grey;
	overflow-y: scroll;
}

#set_selection_bar::-webkit-scrollbar {
    width: 0px;
}

#group_selection_bar {
	position: relative;
	display: block;
	width: 74px;
	height: 200px;
	float: left;
	background-color: #e6e6e6;
	border-right: 1px solid grey;
	overflow-y: scroll;
}

#group_selection_bar::-webkit-scrollbar {
    width: 0px;
}

#group_settings_area {
	position: relative;
	width: 250px;
	height: 200px;
	float: right;
}

#settings_management_buttons_area > button{
	margin-right: 5px;
}

#regex_filter_area {
	padding-left: 30px;
}

#overall_group_settings_area {
	padding-left: 10px;
}

#sensitivity_label, #sensitivity_input {
	position: relative;
	left: 50px;
}

#trend_indicators_area {
	position: absolute;
	left: 20px;
	right: 20px;
	height: 40px;
	overflow-y: scroll;
	border: 1px solid black;
}

#trend_indicator_div {
	margin-bottom: 5px;
}

#trend_indicator_div > select {
	position: relative;
	top: 0px;
	left: 2px;
}

#trend_indicator_div > input {
	position: relative;
	left: 5px;
	width: 90px;
}

#trend_indicator_div > button {
	position: relative;
	float: right;
	right: 1px;
}

#add_indicator_button {
	left: 85px;
	top: 5px;
}

#save_settings_button {
	background-color: white;
	font-size: 12px;
	color: grey;
	position: absolute;
	bottom: 5px;
	left: 41px;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	border: 1px solid grey;
}

#cancel_settings_button {
	background-color: white;
	font-size: 12px;
	color: grey;
	position: absolute;
	bottom: 5px;
	left: 121px;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	border: 1px solid grey;
}





