.highlights_area_item {
	width: var(--ytd-watch-flexy-sidebar-width) - 2px;
	color: grey;
	border: 0.5px solid grey;
}

#highlights_area {
	margin-bottom: 15px;
}

#highlights_button {
	background-color: white;
	width: var(--ytd-watch-flexy-sidebar-width);
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 10px;
	font-weight: bold;
}

#highlights_menu {
	background-color: #F9F9F9;
	border-top: 0px;
	height: 300px;
}

#settings_menu {
	background-color: #F9F9F9;
	border-top: 0px;
	height: 200px;
}

#settings_button {
	float: right;
	background-color: white;
	color: grey;
	font-size: 12px;
	padding: 9px;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid grey;
}